md-card {
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 600px;
}

md-card-title {
	border-bottom: grey;
	border-bottom-style: solid;
    border-bottom-width: 2px;
}


md-card-title b {
	font-size: 15px;
	font-weight: 200;
	color: grey;
	float: right;
}

md-card-subtitle button {
	position: relative;
	left: 15px;
	bottom: 10px;
	float: right;
}

md-card-content b {
  margin-left: 5px ;
  margin-right: 5px ;
  background: #a68cd4;
  color: #FFF;
  font-size: 11px;
  padding: 5px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;

}