<form [formGroup]="form">

Title:
	<br>
	<input type="text" name="username" formControlName="title">
	<br>

Description:
	<br>
	<input type="text" name="username" formControlName="description">
	<br>

Learning Area:
	<br>
	<input type="text" name="username" formControlName="learningArea">
	<br>

Learning Intention:
	<br>
	<input type="text" name="username" formControlName="learningIntention">
	<br>

Status:
	<br>
	<input type="text" name="username" formControlName="status">
	<br>

Completed:
	<br>
	<input formControlName="completed" type="Radio" name="completed" [value]="false" checked="checked"> Still to Complete<br>
  	<input formControlName="completed" type="Radio" name="completed" [value]="true" > Completed<br>
  	<br>

<button (click)="save(form.value)">Create Learning Experience</button>
<button (click)="reset()">reset</button>
</form>







