<md-list>
  <md-list-item *ngFor="let url of urlsForPost">
    <h3 md-line> {{url.title}} </h3>
    <p md-line>
      <span><a href="{{url.link}}">{{url.link}}</a> </span>
    </p>
  </md-list-item>
</md-list>

<button md-icon-button (click)="open()">
	<md-icon>add</md-icon>
</button>

<form *ngIf="openbool" novalidate [formGroup]="form" (submit)="create(form)">


      <md-input-container style="width: 100%">
         <input  formControlName="title" md-input placeholder="Title">
      </md-input-container>

      
      <md-input-container style="width: 100%">
           <input formControlName="url" md-input placeholder="Url Link">
      </md-input-container>
        

    <button type="submit" md-raised-button color="primary">Create</button>

    <button md-raised-button color="primary" (click)="close()">Close</button>

</form> 







<!-- <button class="filter-btn" (click)="filter.hidden = !filter.hidden">Category</button>
<filterbox #filter [elements]="filters.categories></filterbox> -->