<md-list dense>
  <md-list-item *ngFor="let url of urlsForPost">
    <h3 md-line> {{url.title}} </h3>
    <p md-line>
      <span><a href="{{url.url}}" target="_blank">{{url.url}}</a></span>
    </p>
    <button md-icon-button (click)="deleteurl(url.$key)">
      <md-icon style="font-size: 15px">delete</md-icon>
    </button>
  </md-list-item>
</md-list>

<button *ngIf="openstring!==postID" md-icon-button (click)="open()">
	<md-icon>add</md-icon>
</button>

<button *ngIf="openstring===postID" md-icon-button (click)="close()">
  <md-icon>close</md-icon>
</button>

<div style="clear: right"></div>

<form *ngIf="openstring===postID" novalidate [formGroup]="form" (submit)="create(form)">


      <md-input-container style="width: 100%">
         <input  formControlName="title" md-input placeholder="Title">
      </md-input-container>

      
      <md-input-container style="width: 100%">
           <input formControlName="url" md-input placeholder="Url Link">
      </md-input-container>
        

    <button type="submit" md-raised-button color="primary">Create</button>

    

</form> 







<!-- <button class="filter-btn" (click)="filter.hidden = !filter.hidden">Category</button>
<filterbox #filter [elements]="filters.categories></filterbox> -->