md-card {
  background-color: #FCFCFC;
  width: 450px;
  margin-bottom: 2px;
  float: right;
}

.commentform{
  background-color: white;
  width: 450px;
  margin-bottom: 1px;
  float: right;

}

.commentform {
	margin-top: 10px;
}

.badge {
	background-color: #cccccc;
	color: black;
  	font-size: 10px;
  	font-weight: 700;
  	text-transform: uppercase;
	padding: 5px;
	
}

