.fullwidth: {
	width: 100%;
}

.highlight {
	background-color: #FCFCFC;
	margin-bottom: 50px;
}

.editing {
	background-color: grey;
	padding: 20px;
	border-bottom-width: 20px;
	border-color: white; 
}

md-card {
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 600px;
}

md-card-title {
	border-bottom: grey;
	border-bottom-style: solid;
    border-bottom-width: 2px;
}


md-card-title b {
	font-size: 10px;
	font-weight: 200;
	color: grey;
	float: right;
}

md-card-subtitle {
	padding-bottom: 10px;
}

md-card-subtitle button {
	position: relative;
	left: 20px;
	bottom: 20px;
	float: right;
}

md-card-actions button {
	position: relative;
	right: -5px;
}
