<md-card>

  <ul>
    <li *ngFor="let user of approvedUsersForOrganisation">

      <b>{{user.type}}</b> 

      <p>{{ user.email }}</p>

      <button md-icon-button (click)="delete(user.$key)">
          <md-icon>clear</md-icon>
      </button>
    
    </li>
  </ul>
  
</md-card>

<form novalidate [formGroup]="form" (submit)="create(form)">

<md-card>
	<md-card-title>Create approved user</md-card-title> 

	<md-input-container style="width: 100%">
	   <input  formControlName="email" md-input placeholder="Email">
	</md-input-container>


	<select formControlName="type" style="width: 100%">
  		<option value="student">Student</option>
  		<option value="teacher">Teacher</option>
	</select>

  <br >

    

<button style="margin-top: 10px" type="submit" md-raised-button color="primary">Create</button>

</md-card>
</form> 
