<!-- 
<md-card *ngFor="let post of postsForMilestone" class="md-card-flat">
	
	<md-card-subtitle><b>{{post.posttype}}</b>{{post.title}}</md-card-subtitle>
	<md-card-content>{{post.description}}</md-card-content>
    
</md-card> -->

<div *ngFor="let p of postsForMilestone">
<md-card *ngIf="p.posttype===comment"class="md-card-flat post">
	<md-card-subtitle>{{p.title}}<b>{{p.posttype}}</b></md-card-subtitle>
	<md-card-content>{{p.description}}</md-card-content>
</md-card>

<div style="clear: right"></div>
</div>






<md-card class="md-card-flat">

<md-tab-group>
  <md-tab label="Feedback">
  	<p>Comment or Feedback</p>   
    <form novalidate [formGroup]="form" (submit)="create(form.value, 'comment')">

    	
    	<md-input-container style="width: 100%">
    	   <input  formControlName="title" md-input placeholder="Title">
    	</md-input-container>

    	
    	<md-input-container style="width: 100%">
    	     <textarea formControlName="description" md-input placeholder="Description"></textarea>
    	</md-input-container>
        

    <button type="submit" md-raised-button color="primary">Post</button>
    </form> 

  </md-tab>
  <md-tab label="Resource">
  	<p>Store a Resource</p>

   
    <form novalidate [formGroup]="form" (submit)="create(form)">



    	<md-input-container style="width: 100%">
    	   <input  formControlName="title" md-input placeholder="Title">
    	</md-input-container>

    	
    	<md-input-container style="width: 100%">
    	     <textarea formControlName="description" md-input placeholder="Description"></textarea>
    	</md-input-container>

    	<md-input-container style="width: 100%">
    	     <input formControlName="url" md-input placeholder="Resource Link">
    	</md-input-container>
        

    <button type="submit" md-raised-button color="primary">Post</button>
    </form> 

  </md-tab>
  <md-tab label="Work">
  	<p>Work to look over</p>
   
    <form novalidate [formGroup]="form" (submit)="create(form)">


    	<md-input-container style="width: 100%">
    	   <input  formControlName="title" md-input placeholder="Title">
    	</md-input-container>

    	
    	<md-input-container style="width: 100%">
    	     <textarea formControlName="description" md-input placeholder="Description"></textarea>
    	</md-input-container>

    	<md-input-container style="width: 100%">
    	     <input formControlName="url" md-input placeholder="Link to you work">
    	</md-input-container>
        

    <button type="submit" md-raised-button color="primary">Post</button>
    </form> 

  </md-tab>

</md-tab-group>


</md-card>