<!-- 
<md-card *ngFor="let post of postsForMilestone" class="md-card-flat">
	
	<md-card-subtitle><b>{{post.posttype}}</b>{{post.title}}</md-card-subtitle>
	<md-card-content>{{post.description}}</md-card-content>
    
</md-card> -->

<md-card class="md-card-flat post" *ngFor="let p of postsForMilestone">
	<md-card-subtitle>{{p.title}}<b>{{p.posttype}}</b></md-card-subtitle>
	<md-card-content>{{p.description}}</md-card-content>
</md-card>

<div style="clear: right"></div>


<md-card class="md-card-flat">
	<md-button-toggle-group #postbutton >
	    <md-button-toggle value="comment" >Comment</md-button-toggle>
	    <md-button-toggle value="resource">Resource</md-button-toggle>
	    <md-button-toggle value="work">Work</md-button-toggle>
	</md-button-toggle-group>
</md-card>


<md-card *ngIf="postbutton.value===comment" class="md-card-flat">



<form novalidate [formGroup]="form" (submit)="create(form)">

	


	<md-input-container style="width: 100%">
	   <input  formControlName="posttype" md-input placeholder="Post Type">
	</md-input-container>

	<md-input-container style="width: 100%">
	   <input  formControlName="title" md-input placeholder="Title">
	</md-input-container>

	
	<md-input-container style="width: 100%">
	     <textarea formControlName="description" md-input placeholder="Description"></textarea>
	</md-input-container>
    

<button type="submit" md-raised-button color="primary">Create</button>


</form> 

</md-card>