.fixedbutton {
	position: fixed;
	top: 20px;
    left: 20px;
}

md-input, md-input-container {
	margin-top: 10px;
}

.highlight {
	background-color: #FCFCFC;
	margin-bottom: 50px;
}

md-card, .middle {
	margin: auto;
	width: 600px;
}

md-card-title {
	border-bottom: #cccccc;
	border-bottom-style: solid;
    border-bottom-width: 2px;
}


.tab-form {
	position: relative;
	margin: auto;
	top: -25px;
}


.md-card-flat {
	background-color: #FCFCFC;
	margin-bottom: 8px;
	float: right;
}

/*.comment {
	width: 500px;
}

.comment md-card-title{
    background: #f2f2f2;
	
    padding: 3px;
    margin: -24px;
}

.comment md-card-title span{
    position: relative;
    left: 20px;
}

.comment-arrow-left {
  content: '';
  position: relative;
  bottom: 0px;
  right: 30px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid #f2f2f2; 
}*/

.comment {
	width: 525px;
	border-left: solid 5px #FCFCFC;

}

.resource {
 	width: 525px;
 	border-left: solid 5px #D1C4E9;
}

.resource md-card-title {
	border-bottom: none;
}

.marking {
	width: 550px;
	border-left: solid 5px #673AB7;	

}

.stream-head {
	font-size: 17px;
}

.comment md-card-title {
	border-top: #cccccc;
	border-top-style: solid;
    border-top-width: 2px;
    border-bottom: none;
}


.comment md-card-subtitle b {
 /* background: #FFFAD1;*/
  color: #757575;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
/*  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;*/
  text-transform: uppercase;

}

.resource md-card-subtitle b {
  background: #D1C4E9;
  color: #FFF;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;

}

.marking md-card-subtitle b {
  background: #673AB7;
  color: #FFF;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
}

/*.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}*/
