<button routerLink="/learningexperiences" class="fixedbutton" md-fab>
    <md-icon  class="md-24">chevron_left</md-icon>
</button>


<!-- milestone Read -->

<div class="container">
{{ (learningExperience | async)?.key }}

  <div class="flexy" *ngFor="let milestone of milestones | async"><md-card>
   <md-card-subtitle>{{ (learningExperience | async)?.title }}</md-card-subtitle>
   <md-card-title>{{ milestone.title }} | {{milestone.data | date }}</md-card-title> 
   <md-card-content >

   {{ milestone.$key }}

   <p>{{milestone.description}}</p>

   <!-- milestone.stream Read -->

   <div *ngFor="let todo of milestone.stream | async">

   {{ todo.$key }}
     

      <md-card *ngIf="todo.type=='comment'" class="md-card-flat comment">
        <md-card-subtitle><b>Feedback</b></md-card-subtitle>
      
        <md-card-content>{{todo.text}} </md-card-content>
      </md-card>


      <md-card *ngIf="todo.type=='resource'" class="md-card-flat resource">
        <md-card-subtitle><b>{{todo.type}}</b></md-card-subtitle>
          <md-card-content> 
            <a href="{{todo.url}}">{{todo.description}}</a>
          </md-card-content>
      </md-card>

      <md-card *ngIf="todo.type=='marking'" class="md-card-flat marking">
        <md-card-subtitle><b>{{todo.type}}</b></md-card-subtitle>
        <md-card-title>
          <span class="stream-head">{{todo.type}}</span>  
        </md-card-title>

       <!--  <div class="arrow-left"></div> -->

        <md-card-content>{{todo.text}} </md-card-content>
      </md-card>
    
    </div> 

      <div style="clear: right;"></div>

   </md-card-content>
   <md-card-actions>
        
   </md-card-actions>
</md-card>

<!-- New Information Section Form -->


<md-card class='highlight'>
  <md-card-content>

        <md-tab-group class="tab-form">
        <md-tab label="Create Comment">
             <form #streamForm (submit)="newComment( milestone.todos, milestone.stream,{ type:'comment', text:newTodo.value}); streamForm.reset()">
                  
                   
                      <md-input #newTodo md-input placeholder="Add Comment" style="width:100%"></md-input>
                    
                
             </form> 
        </md-tab>
        <md-tab label="Create Resource">
            <form #resourceForm="ngForm" (submit)="newResource( milestone.resources, milestone.stream,resourceForm.value)">

             <!--  <md-input-container style="width: 100%">
                 <input ngModel name="title" md-input placeholder="Title">
              </md-input-container> -->

            
              <md-input-container style="width: 100%">
                   <textarea ngModel name="description" md-input placeholder="Resource Description" ></textarea>
              </md-input-container>

              <md-input-container style="width:100%">
                 <input ngModel name="url"  md-input placeholder="Resource Url">
              </md-input-container>


              <button type="submit" md-raised-button color="primary">Create Resource</button>
                  
                          
            </form>
        
        </md-tab>
        <md-tab label="Create Assessment">
        
          <form (submit)="newMarking( milestone.marking, milestone.stream, { type: 'marking', text:marking.value})">
            
                
                 
                    <md-input #marking md-input placeholder="Add Assessment" style="width:100%"></md-input>
                  
              
          </form>

        </md-tab>
      </md-tab-group>
  </md-card-content>
</md-card>

</div>


<!-- New Milestone Form -->

<div>
<md-card>
   <md-card-subtitle>{{ (learningExperience | async)?.title }}</md-card-subtitle>
   <md-card-title>New Milestone</md-card-title>   
   <md-card-content>
      <form novalidate #milestoneform="ngForm" (submit)="milestones.push(milestoneform.value); milestoneform.reset();">
         
        <md-input-container style="width: 100%">
           <input ngModel name="title" md-input placeholder="Title">
        </md-input-container>


         <md-input-container style="width:100%">
            <input ngModel name="date" type="date" md-input placeholder="Expected Finishing Date">
         </md-input-container>

         <md-input-container style="width: 100%">
              <textarea ngModel name="description" md-input placeholder="Description" ></textarea>
         </md-input-container>

         <button type="submit" md-raised-button color="primary">Create</button>

      </form> 
	         
   </md-card-content>
   <md-card-actions>
     
   </md-card-actions>
</md-card>
</div>


    












