.highlight {
	background-color: #FCFCFC;
	margin-bottom: 50px;
}

md-card, .middle {
	margin: auto;
	width: 600px;
}

md-card-title {
	border-bottom: grey;
	border-bottom-style: solid;
    border-bottom-width: 10px;
}

.fixedbutton {
	position: fixed;
	top: 20px;
    left: 20px;
}

/*.fixed {
	position: fixed;
	bottom: 5px;
	background: white;
	opacity: 1;
}*/

md-input {
	margin-top: 10px;
}

.tab-form {
	position: relative;
	margin: auto;
	top: -25px;
}

.comment-card {
	box-shadow-bottom: none;
	box-shadow-left: none;

}