<button routerLink="/learningexperiences" class="fixedbutton" md-fab>
    <md-icon  class="md-24">chevron_left</md-icon>
</button>


<!-- <md-card class='highlight'>
 <h1>{{ (learningExperience | async)?.name }}</h1>
</md-card> -->

<div class="container">
  <div class="flexy" *ngFor="let milestone of milestones | async"><md-card>
  <!--  <md-card-subtitle>Subtitle first</md-card-subtitle> -->
   <md-card-title>{{ milestone.name }}</md-card-title> 
   <md-card-content>
      <md-card class="md-card-flat" *ngFor="let todo of milestone.stream | async">
      
            
                <p md-line>
                  <span class="highlight"> Message </span>
                  <span> {{todo.text}} </span>
                </p>
                
     
      </md-card>       
   </md-card-content>
   <md-card-actions>
        
   </md-card-actions>
</md-card>

<md-card class='highlight'>
  <md-card-content>

        <md-tab-group class="tab-form">
        <md-tab label="Create Comment">
             <form #streamForm (submit)="newComment( milestone.todos, milestone.stream,{ text:newTodo.value}); streamForm.reset()">
                  
                   
                      <md-input #newTodo md-input placeholder="Add Comment" style="width:100%"></md-input>
                    
                
             </form> 
        </md-tab>
        <md-tab label="Create Resource">
            <form (submit)="newResource( milestone.resources, milestone.stream,{ text:resource.value})">
                  
                   
                      <md-input #resource md-input placeholder="Add Resource" style="width:100%"></md-input>
                    
                
            </form>
        
        </md-tab>
        <md-tab label="Create Assessment">
        
          <form (submit)="newMarking( milestone.marking, milestone.stream, { text:marking.value})">
            
                
                 
                    <md-input #marking md-input placeholder="Add Assessment" style="width:100%"></md-input>
                  
              
          </form>

        </md-tab>
      </md-tab-group>
  </md-card-content>
</md-card>

</div>




<div>
<md-card>
   <md-card-subtitle>Learning Experience</md-card-subtitle>
   <md-card-title>Create Milestone</md-card-title>   
   <md-card-content>
      <form (submit)="milestones.push({
         name:newPerson.value
        })">
         <input #newPerson>
         <label for="newPerson">Add Milestone</label> 
      </form> 
	         
   </md-card-content>
   <md-card-actions>
     
   </md-card-actions>
</md-card>
</div>













